body {
  font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  color: #231f20;
}

#container-logo {
  width: 63px;
  height: 32px;
  background-color: #231f20;
  position: relative;
  border: 2px solid #fff;
  margin-bottom: 10px;
}

.arrow-right {
  width: 0;
  height: 0;
  position: absolute;
  right: -20px;
}

.header {
  padding-top: 13px;
  background-color: #231f20;
  color: #fff;
  width: 100%;
  margin: 0;
}

.header-left-logo p {
  font-size: 18px;
  width: 64px;
  padding: 1px 4px;
  border: 2px solid #fff;
  float: left;
}

.header-right-menu ul {
  text-decoration: none;
  list-style: none;
  font-size: 13px;
  font-weight: bold;
}

.header-right-menu li {
  float: right;
  font-size: 13px;
  margin-left: 19px;
  font-weight: 600;
  margin-top: 7px;
}

.container-header-fluid {
  padding-left: 5rem;
  padding-right: 5rem;
}

/* second section */

.home-header {
  background-image: url(../images/car-wallpaper.jpg);
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
  padding-top: 150px;
}

.home-header-first-title {
  font-family: Freight, HoeflerText-Black, Times New Roman, serif;
  color: #ffffff;
  font-size: 72px;
  font-weight: 700;
  margin: 0;
}

.home-header-sec-title {
  font-size: 22px;
  color: #fff;
  font-weight: 700;
  margin-top: -14px;
}

.form-header {
  border: 1px solid #fff;
  padding: 9px;
  width: 84%;
  margin-left: 81px;
  border-radius: 29px;
  background: #fff;
  height: 56px;
}

.form-header-title p {
  font-size: 11px;
  text-align: initial;
  padding: 0;
  margin: 0;
  margin-top: -5px;
  font-weight: bold;
}

.form-header-field input[type=text], select {
  width: 100%;
  height: 2px;
  padding: 12px 0;
  border: none;
}

.form-header-field ::placeholder {
  font-weight: bold;
  color: #c7c7c7;
}

.form-header-time ::placeholder {
  font-weight: bold;
  color: #c7c7c7;
}

.time-from-style {
  border: none;
  /* margin: 0; */
  padding: 0;
  color: #000;
  font-weight: bold;
  width: 87px;
}

.form-date-field ::placeholder {
  font-weight: bold;
  color: #c7c7c7;
}

.form-header-border {
  border-right: 1px solid #c7c7c7;
}

.search-image {
  background: #59d389;
  float: right;
  border-radius: 50%;
  margin-top: -35px;
  margin-right: -17px;
}

.search-image img {
  width: 38px;
  padding: 8px;
}

/* third section */

.provider-section {
  width: 100%;
  text-align: center;
}

.provider-section-btn {
  position: absolute;
  left: 530px;
  bottom: -72px;
  background: #fff;
  padding: 0 20px;
  border-radius: 29px;
}

.provider-section p {
  font-size: 11px;
  font-weight: 700;
  color: #949494;
  text-transform: uppercase;
  text-align: center;
  margin: 10px 0;
}

/* discover-section */

.discover-section {
  margin-top: 146px;
}

.discover-title-one {
  font-size: 24px;
  text-align: center;
  font-weight: 700;
}

.discover-title-two {
  font-size: 52px;
  max-width: 630px;
  margin-right: auto;
  margin-left: auto;
  font-family: Freight, HoeflerText-Black, Times New Roman, serif;
  font-weight: 700;
}

.discover-title-info {
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  line-height: 1;
}

.discover-content-info {
  margin-top: 10px;
  font-weight: 500;
  width: 348px;
}

.discover-image {}

.discover-container {
  margin-top: 46px;
  margin-left: 76px;
}

.discover-item {
  margin-bottom: 50px;
}

.book-btn {
  margin: auto;
  display: block;
  color: #fff;
  background: #59d389;
  border: none;
  padding: 14px 18px;
  margin-bottom: 25px;
  font-size: 18px;
}

/* rental-category-carousel */

.rental-category-carousel {}

.rental-category-carousel-title {
  font-size: 21px;
  padding: 0 40px;
  font-weight: bold;
  margin-top: 58px;
  margin-bottom: 37px;
}

.currosel-section {
  margin-bottom: 57px;
}

.carousel-wrap {
  width: 1000px;
  margin: auto;
  position: relative;
}

.owl-carousel .owl-nav {
  overflow: hidden;
  height: 0px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #59d389;
}

.owl-carousel .item {
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(35, 31, 32, 0.2), 0 0 1px 0 rgba(35, 31, 32, 0.1);
  border: 1px solid rgba(35, 31, 32, 0.2);
}

.owl-carousel .nav-btn {
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 100px !important;
}

.owl-carousel .owl-prev.disabled, .owl-carousel .owl-next.disabled {
  pointer-events: none;
  opacity: 0.2;
}

.owl-carousel .prev-slide {
  background: url(nav-icon.png) no-repeat scroll 0 0;
  left: -33px;
}

.owl-carousel .next-slide {
  background: url(nav-icon.png) no-repeat scroll -24px 0px;
  right: -33px;
}

.owl-carousel .prev-slide:hover {
  background-position: 0px -53px;
}

.owl-carousel .next-slide:hover {
  background-position: -24px -53px;
}

span.img-text {
  text-decoration: none;
  outline: none;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  cursor: pointer;
  width: 100%;
  display: block;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
}

span.img-text:hover {
  color: #2caae1;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  border-radius: 8px 8px 0px 0px;
}

.owl-dots {
  margin-top: 22px;
}

.date-from-style {
  border: none;
  height: 24px;
  color: #000;
  font-weight: bold;
  border: none;
  /* margin: 0; */
  padding: 0;
  color: #000;
  font-weight: bold;
  width: 87px;
}

/* learn-list */

.learn-list {
  display: none;
  position: absolute;
  right: 1px;
  background: #fff;
  z-index: 10;
  top: 35px;
  width: 118px;
  color: #231f20;
  padding: 11px 0px;
}

.learn-hdr:hover .learn-list {
  display: block
}

.learn-hdr {
  position: relative;
}

.learn-list-container {}

.learn-list-item {
  float: left!important;
  margin-left: -14px!important;
  padding-bottom: 12px;
}

.list-arrow {
  width: 0;
  height: 0;
  border-left: 19px solid #fff;
  border-bottom: 13px solid #fff;
  border-right: none;
  top: -2px;
  right: 10px;
  transform: rotate(45deg);
  position: absolute;
}

/* second page style  */

.big-currosel-header .carousel-inner {
  height: 556px;
}

.big-currosel-header .carousel-control-prev {
  left: 0;
  background-color: #000;
  width: 36px;
  height: 36px;
  top: 50%;
  left: 6%;
  border-radius: 50%;
}

.big-currosel-header .carousel-control-next {
  right: 0;
  background-color: #000;
  width: 36px;
  height: 36px;
  top: 50%;
  right: 6%;
  border-radius: 50%;
}

.big-currosel-header {
  position: relative;
}

.fav-icon {
  position: absolute;
  color: #fff;
  z-index: 1;
  top: 14px;
  font-size: 22px;
  background-color: #6b585847;
  right: 22px;
  border-radius: 50%;
  padding: 6px 13px;
  cursor: pointer;
}

.nav-search {
  margin-left: 21px;
  padding: 2px;
  margin-left: 16px;
  border-bottom: 2px solid #c7c7c7;
  padding: 3px;
}

.nav-search input[type=text] {
  background: transparent;
  border: none;
  margin-top: 9px;
  width: 222px;
  font-size: 16px;
}
input[type=text]:focus{
  outline: none;
}
.nav-search ::placeholder {
  font-weight: 500;
  color: #c7c7c7;
  padding-bottom: 4px;
}

/* car-description  */

.car-description {
  margin-top: 34px;
  margin-left: 280px;
}

.car-description-title {
  font-size: 13px;
  color: #5d5d5d;
  text-transform: uppercase;
  font-weight: 700;
  ;
}

.car-description-name {
  font-size: 38px;
  font-weight: bold;
  font-family: BasisBlack, Avenir, Helvetica Neue, Helvetica, sans-serif;
  line-height: 1;
}

.rate-stars {
  margin-left: 5px;
}

.rate-stars .fa {
  padding-right: 2px;
}

.car-section {
  color: #231f20;
  font-size: 16px;
  ;
}

.car-section span {
  vertical-align: super;
  margin-left: 13px;
  font-weight: 600;
}

.car-description-year {
  font-size: 24px;
  font-weight: bold;
}

.car-desc-container {
  margin-top: -2px;
  margin-left: -33px;
}

.checked {
  color: #8f63f4;
}

.rate-stars-word {
  font-size: 15px;
  color: #231f20;
  font-weight: 600;
  margin-left: 10px;
  margin-top: -3px;
}

.first-car-sec-container {
  margin: 15px 0;
}

.rated-img {
  width: 80px;
  border-radius: 50%;
  height: 80px;
  position: relative;
}

.rated-txt {
  color: #231f20;
  font-weight: 600;
  /* border: 1px solid red; */
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .13);
  border-radius: 18px;
  padding: 3px 0 0 24px;
  position: absolute;
  width: 90px;
  bottom: -17px;
  background: #fff;
}

.person-rated1 {
  font-size: 18px;
  font-weight: 700;
  margin-right: 4px;
}

.person-rated2 {}

.person-rated3 {
  color: #949494;
  margin-top: 2px;
  font-size: 13px;
}

.person-rated-section {
  margin-top: 9px;
}

.specific-col-margin {
  margin-left: -28px;
  margin-bottom: 37px;
}

.form-price {
  border-radius: 30px 30px 0 0;
  margin-right: 0;
  padding: 30px 0 0;
  text-align: center;
  display: block;
}

.form-price-currency {
  vertical-align: 30px;
    font-size: 24px;
    line-height: .8;
    margin: 15px 0 0 5px;
    font-family: Freight, HoeflerText-Black, Times New Roman, serif;
    font-weight: bold;
    /* margin-top: 3px; */
    transform: rotate(11deg);
}

.form-price-value {
  font-size: 62px;
  line-height: 1;
  margin: 0 0 0 5px;
  font-family: Freight, HoeflerText-Black, Times New Roman, serif;
  font-weight: bold;
}

.form-price-day {
  font-size: 16px;
  margin-left: 5px;
  margin-top: 20px;
  font-weight: 400;
  vertical-align: 17px;
}

.side-par-form {
  margin-left: -2rem;
}

.car-form {
  position: absolute;
  top: -69px;
  background: #fff;
  width: 100%;
  border-radius: 40px;
  width: 71%;
}
.trip-start{

}
.trip-start-title{
  color: #231f20;
  font-size: 13px;
  font-weight: 700;
}
.trip-start-datetime{

}
.form-price-date-style{
  height: 35px;
    padding: 3px 10px;
    font-size: 13px;
    border: 1px solid #c7c7c7;
    color: #231f20;
    cursor: pointer;
    border-radius: initial;
    display: inline;
    width: 170px;
    margin-right: -5px;
}
.form-price-time-style{
  height: 35px;
  padding: 3px 10px;
  font-size: 13px;
  border: 1px solid #c7c7c7;
  color: #231f20;
  cursor: pointer;
  border-radius: initial;
  display: inline;
  width: 139px;
}
.book-car-btn{
  width: 90%;
  margin: auto;
  display: block;
  color: #fff;
  background: #59d389;
  border: none;
  padding: 9px 18px;
  margin-bottom: 25px;
  font-size: 18px;
}













